<h1>Please enter a word or phrase to create a puzzle  .</h1>
<form action='/form'>
  <div class="form-group">
    <label for="S_word">Enter Word or phrase here</label>
    <input id="S_word" name="S_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
